<!DOCTYPE html>
<html lang="ja" class="<%= pageData.pageId %>">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no">
<title><%= pageData.siteTitle %></title>
<meta name="description" content="<%= pageData.description %>">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta property="og:locale" content="ja_jp">

<!-- Common Start -->
<meta property="og:site_name" content="<%= pageData.og.siteName %>">
<meta property="og:title" content="<%= pageData.og.title %>">
<meta property="og:description" content="<%= pageData.og.description %>">
<meta property="og:url" content="<%= pageData.og.url %>">
<meta property="og:image" content="<%= pageData.og.img %>">
<meta property="og:type" content="<%= pageData.og.type %>">
<!-- Common End -->

<!-- Facebook Start -->
<meta property="fb:app_id" content="<%= pageData.fbAppId %>">
<!-- Facebook End -->

<!-- Twitter Start -->
<meta name="twitter:site" content="<%= pageData.og.siteName %>">
<meta name="twitter:title" content="<%= pageData.og.title %>">
<meta name="twitter:description" content="<%= pageData.og.description %>">
<meta name="twitter:url" content="<%= pageData.og.url %>">
<meta name="twitter:image" content="<%= pageData.og.img %>">
<meta name="twitter:card" content="summary_large_image">
<!-- Twitter End -->

<link rel="canonical" href="<%= pageData.canonical %>">
<link rel="stylesheet" href="<%= pageData.rootPath %>assets/css/style.sp.css">
</head>
<body>
</script>
